:root {
  --bg-color: #4cbd1c;
  --text-clr: #f4f4f4;

  --tab-focus-clr: #123902;
  --primary-color-400: #163020;
  --clr-line: rgb(255, 202, 41);
  --clr-score: rgb(102, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

/***************** utility classes - START ******************/

h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--tab-focus-clr);
}


#user-score {
  color: var(--clr-score);
  font-weight: 600;
}

#score {
  font-size: 1.5rem;
  font-weight: 600;
}


.img-container {
  width: 150px;
  height: 150px;
  margin-inline: auto;
  margin-top: 1rem;
  border: 2px dashed var(--primary-color-400);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.choice {
  width: calc((100vw / 3) - 1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--text-clr);
  border-radius: 1rem;
  scale: 1;
  transition: transform 0.3s ease;
}

.choice :where(img, span) {
  pointer-events: none;
}

.choice:hover {
  transform: scale(0.98);
}

.choice:focus {
  outline: 2px solid var(--tab-focus-clr);
  /* Example outline styling */
}

#computer-choice>img {
  rotate: 180deg;

}

/***************** utility classes - END ******************/

/***************** Game Loader - START ******************/
.game-loader {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.game-icon-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--text-clr);
  display: grid;
  place-items: center;
  overflow: hidden;
  background-image: url('../images/rock-paper-scissors.png');
  background-position: center;
  background-size: 100px;
  background-repeat: no-repeat;
}

.btn {
  display: none;
  position: relative;
  top: 0;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 2rem;
  animation: fadeIn 2s ease;
  cursor: pointer;
  transition: top 0.3s ease;
}

.btn:hover {
  position: relative;
  top: -3px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.timer {
  font-size: 3rem;
  color: var(--text-clr);
  font-weight: 600;
}

/***************** Game Loader - END ******************/

/***************** Main container - START ******************/

main {
  width: 100%;
  height: 100dvh;
  background-color: var(--bg-color);
  overflow: hidden;

}

section {
  width: min(95vw, 1580px);
  height: 100dvh;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#game-field {
  width: 100%;
  height: 80dvh;
}

#game-field #computer-field {
  width: 100%;
  height: 30dvh;
}

#game-field #computer-field #computer-choice {
  font-size: 3rem;
}


#game-field #user-field {
  width: 100%;
  height: 30dvh;
}

#game-field #yellow-line {
  width: 100%;
  height: 2.5rem;
  background-color: var(--clr-line);
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-field #yellow-line span {
  font-size: 1.2rem;
  font-weight: 600;
}

#user-field {
  margin-bottom: 0.5rem;
}

section>#user-choices-container {
  width: 100%;
  height: 20dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 1rem;
  gap: 1rem;
}

/***************** Main container - END ******************/